<div class="row">
  <% @drawings.each do |drawing|  %>
    <div class="card drawings" style="width: 18rem;">
      <%= link_to image_tag(drawing.link.to_s, width: '300px', class: "card-img-top"), drawing.link %>
      <div class="overlay text"><%= drawing.title %></div>
    </div>
  <% end %>
</div>
