<div class="about">
  <div class="d-flex justify-content-center">
    <%= image_tag("kat_icon.png", class: "kat_pic", height: '300px') %>
  </div>
  <div class="d-flex justify-content-center">
    <p class="about_me">Je suis Kat. I live in SF and dream of a world with more bears, pies, pancakes, and corgis.</p>
  </div>
</div>
