<div class="d-flex justify-content-center">
  <a href="mailto:bearheartsbat@gmail.com?Subject=Hello" id="send" class="envelope">
  <div class="flap"></div>
  <div class="infoil"></div>
  <div class="folds"></div>
  </a>
</div>
