/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

/* nav bar */
.navbar {
  width: 100%;
  position: static;
  z-index: 1;
  top: 130px;
  left: 15px;
  overflow-x: hidden;
  padding: 15px 0;
  margin-top: 35px;
}
.navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}
.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0) !important;
  margin-right: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
ul.navbar-nav {
  display: inline-block;
  text-align: left;
}
.nav-link:hover {
  font-weight: bold;
}
a.nav-link {
  font-family: 'Quicksand', sans-serif;
  color: black;
  margin: -5px 15px;
}
.social a.nav-link {
  display: inline;
  margin: 0;
}
a.nav-link img {
  width: 30px;
}
.profile_icon {
  position: relative;
  z-index: 1;
  top: 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
div.about {
  position: relative;
}
img.kat_pic {
  margin-left: -135px;
}
p.about_me {
  font-size: 14px;
  margin-left: -135px;
}
p.tagline {
  padding-top: 40px;
  font-size: 10px;
}
img.card-img-top {
  width: 100%;
  border-radius: 0;
}
div.row {
  width: 100%;
}
div.row.drawings {
  margin-top: -300px;
}

/* main */
div.main {
  margin-top: -150px;
}

/*MEDIA QUERY*/
@media only screen and (min-width : 400px) and (max-width : 1000px){
  /* main */
  div.main {
    margin-top: 0;
  }

  /* navbar */
  header, a.nav-link, .social a.nav-link {
    text-align: center;
  }
  .navbar {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -35px;
    left: 15px;
    overflow-x: hidden;
    padding: 15px 0;
    margin-top: 35px;
  }
  span.navbar-toggler-icon {
    margin: 0 15px;
  }
  div#navbarSupportedContent {
    padding: 20px 0;
    background: #dddddd;
  }
  ul.navbar-nav {
    position: static;
    overflow: hidden;
    margin-left: -15px;
  }
  a.nav-link img {
    width: 2em;
    padding: 0 10px;
  }
  nav ul {
		display: none;
		position: absolute;
		width: 100%;
	}
  .nav-link:hover {
    font-weight: bold;
  }
  div.row {
    display: block;
    width: 100%;
  }
  p.shop {
    margin-left: -135px;
    margin-top: 140px;
  }
  img.card-img-top {
    margin-left: -135px;
  }

  /* main */
  div.main {
    margin-top: 0;
  }

  /* drawing rows */
  div.row.drawings {
    margin-top: 0;
  }

  /* contact envelope */
  .envelope {
    margin-left: -75px;
    margin-top: 50px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  header, a.nav-link, .social a.nav-link {
    text-align: center;
  }
  .navbar {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: -35px;
    left: 15px;
    overflow-x: hidden;
    padding: 15px 0;
    margin-top: 35px;
  }
  span.navbar-toggler-icon {
    width: 3em;
    height: 3em;
    margin: 0 30px 15px 0;
  }
  div#navbarSupportedContent {
    padding: 20px 0;
    background: #dddddd;
  }
  ul.navbar-nav {
    position: static;
    overflow: hidden;
    margin-top: 35px;
    margin-left: -15px;
    padding: 35px 0;
  }
  a.nav-link img {
    width: 2em;
    padding: 0 10px;
  }
  nav ul {
		display: none;
		position: absolute;
		width: 100%;
	}
	nav li {
    font-size: 2.5em;
	}
  .nav-link:hover {
    font-weight: bold;
  }
  h3 {
    font-size: 4em;
  }
  p.intro, p.about {
    font-size: 2em;
  }
  div.row {
    display: block;
    width: 100%;
  }
  img.card-img-top {
    min-width: 600px;
    margin-left: 0;
  }
  .profile_icon {
    position: relative;
    z-index: 1;
    top: 100px;
    margin-bottom: 150px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  div.about {
    position: relative;
  }
  img.kat_pic {
    margin-left: -130px;
    width: 80%;
    height: 50%;
  }
  p.about_me {
    font-size: 35px;
    margin-left: -70px;
  }
  p.tagline {
    margin: -75px 0 80px 0;
    font-size: 18px;
  }
  p.shop {
    font-size: 50px;
    top: 200px;
    margin-left: -130px;
  }

  /* main */
  div.main {
    margin-top: 0;
  }

  /* contact envelope */
  .envelope {
    margin-left: -80px;
  }
}

/* main */
.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* drawings */
div.card {
  margin: 25px 10px 0 25px;
  border: none;
}

/* body */
body {
  padding: 0 25px;
  font-family: 'Quicksand', sans-serif;
}

/* contact */
a {
  color: black;
}
.envelope{
  top:50%;
  left:50%;
  background-color: #FFF7E1;
  background-image:linear-gradient(transparent 0%, burlywood 49%, transparent 50%);
  position:absolute;
  width:150px;
  height:100px;
  box-shadow:0 3px 20px rgba(0,0,0,0.3);
  transition:transform 0s;
  transition-delay:400ms;
  z-index:1;
  outline:none;
}
.flap{
  position:absolute;
  width:0;
  height:0;
  top:-50px;
  border-top:0px solid transparent;
  border-right:75px solid transparent;
  border-left:75px solid transparent;
  border-bottom:50px solid #FFF7E1;
  transition:transform 300ms linear, border-bottom 3s;
}
.infoil{
  position:absolute;
  bottom:100px;
  left:12px;
  border-top:0px solid transparent;
  border-right:63px solid transparent;
  border-left:63px solid transparent;
  border-bottom:40px solid #ff8e90;
  transition:border-bottom 150ms ease-in;
}
.envelope:after{
  position:absolute;
  content:"";
  left:10px;
  bottom:50px;
  width:130px;
  height:80px;
  background-color: #fdf5e8;
  box-shadow:0 -0px 15px rgba(0,0,0,0.2);
  z-index:0;
  transition:height 300ms;
}
.envelope:before{
  position:absolute;
  content:"";
  left:0px;
  bottom:0px;
  height:50px;
  width:150px;
  background-color: #f9f1db;
  z-index:2;
}
.folds:before{
  position:absolute;
  content:"";
  width:0;
  height:0;
  left:0;
  border-right:0px solid transparent;
  border-top:50px solid transparent;
  border-bottom:50px solid transparent;
  border-left:75px solid #FFF7E1;
  z-index:2;
}
.folds:after{
  position:absolute;
  content:"";
  width:0;
  height:0;
  right:0;
  border-left:0px solid transparent;
  border-top:50px solid transparent;
  border-bottom:50px solid transparent;
  border-right:75px solid #FFF7E1;
  z-index:2;
}
.envelope:hover:after{
  height:40px;
  bottom:50px;
}
