<nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-end">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/drawings">Drawings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <hr>
      <li class="nav-item d-flex justify-content-center social">
        <a class="nav-link" href="https://www.facebook.com/kattsukuda/"><%= image_tag "fb_icon.svg" %></a>
        <a class="nav-link" href="https://www.instagram.com/lemuriernoir/?hl=en"><%= image_tag "ig_icon.svg" %></a>
      </li>
    </ul>
  </div>
</nav>
